body{
    font-family: sans-serif;
    background-color: #120826;
    margin:0;
    max-width: 100%;
    max-height: 100%;
    font-size: 2em;

}

/* HEADER */

.cabecalho {
    height: 10vh;
    width: 100%;
    background-color: rgb(1, 7, 9);  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    background: url('./imagem/SpaceBackground1.png');
    background-size: cover;
    position: fixed;
}

a, a:visited, a:active {
    color:whitesmoke;
    text-decoration: none;
    font-size: 4vh;
    font-style: oblique;
    font-weight: bold;
}

/* MENU */

.checkbox-container{
    display:flex;
    justify-content: center;
    align-items: center;

}

.checkbox{
    height: 2vh;
    width: 2vh;
    position: absolute;
    top: 3vh;
    left: 3vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999; /*ficar na frente de tudo*/
    transition: 1s ease-in-out;
}

.checkbox .trace{
    height: 0.5vh;
    width: 3vw;
    background-color: azure;
    position: absolute;
    border-radius: 4px;
    transition: 0.7s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 1vh;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 2vh;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 3vh;
    transform: rotate(0);
}

#toggle {
    display: none;
}

.menu {
    position:absolute;
    top: 15vh;
    left: 0;
    max-width: 14.1vw;
    background: transparent;
    height: 10vh;
    width: 10vh;
    z-index: -1;
    visibility: hidden;
    transition: ease-in-out 1s;
}

.menu-itens{
    top: 15vh;
    left:0;
    height: 45vh;
    display: flex;
    justify-content: center;
    z-index: 2;
    visibility: hidden;
    transition: ease-in-out 1s;
}

.menu-itens ul{
    list-style-type:none;
    margin: 5vh 0vh;
    padding: 0;
}

.menu-itens li{
    background: white;
    padding: 1.7vh;
    margin: 3vh 0;
    text-align: center;
    transition: ease-in-out 1s;
}

.menu-itens ul li a{
    width: 14.1vw;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1vw;
    font-size: 2vw;
    color:#120826;
 
}

/*animação Menu*/

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: white;
    top: 2vh;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: white;
    top: 2vh;
}

#toggle:checked ~ .menu .menu-itens{
    height: 45vh;
    width: 14.1vw;
    box-sizing: border-box;
    z-index: 1;
}

#toggle:checked ~ .menu .menu-itens{
    visibility: visible;
    opacity: 1;  
}


/*Meu nome */


.meuNome {
    height: 10vh;
    display: flex;
    font-family:monospace;
    font-size: 3vh;
    text-align: center; 
    margin: 0 0 0 20px;
    padding: 0 10px;
    color:whitesmoke;
    background-image: url('./imagem/SpaceBackground4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    filter: grayscale(0.9);
    transition: 0.5s;
}
.meuNome h1 {
    background-color: rgba(21, 31, 55, 0.2);    
}
.meuNome1 {
    font-family:comic sans;
    align-items:flex;
    font-size: 1.5vh;
    text-align: end;
    display: flex;
    margin-left:auto;
    margin-right: 1vw;
    color:whitesmoke;
}

/* Abertura */

.abertura{
    height:100%;
    width:70vw;
    font-size: 1vh;
    display:flex;
    margin-top: 15vh;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    background-color:azure;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    align-self: center;
    text-align: center;

}

#faixa{
    height: 30vh;
    width: 70vw;
    background-size: 200%, 400%; 
    margin:0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
    background: -webkit-linear-gradient(45deg, rgb(80, 14, 82), rgb(43, 3, 34), rgba(7, 1, 53), rgb(10, 7, 16)); 
    animation: bgTransition 2s ease-in-out infinite; 
    color:rgb(231, 231, 231);
    letter-spacing: 0.1vw;
    font-size: 1vw;
-webkit-animation: normal;


}
@keyframes bgTransition{
    0% {background-position: 0% 70%;}
    50% {background-position: 60% 100%;}
    100% {background-position: 30% 100%;}
}


/* Textos*/


.container{
    width: 70vw;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    background-color: azure;
}
.part {
    align-items: center;
    text-align: center;
    color: rgba(21, 31, 55);
}

.part-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(174, 188, 188);
    Margin: 5vh 0 0 0;

}

.part-wrapper{
    height: 27vh;
    width: 30%;
    margin: 0 2vw 0;
    font-size: 2vh;
    background-image: url('./imagem/moon.png');
    background-position: center;
    background-size: cover;
    text-align: center;
    align-items: center;    
    display: flex;
    justify-content: center;
    color:azure;
}

.part-text{
    width: 55%;
    font-size: 2vh;
    font-family: sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    color: rgba(21, 31, 55);
    background-color: rgb(174, 188, 188);
    margin: 1rem;
    padding: 1rem;
}

.part-text a{
    text-decoration: none;
    font-size: 2vh;
    color: #120826;
    text-align: center;
}


footer {
    height: 20vh;
    font-size: 1.5vh;
    display:flex;
    color:whitesmoke;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*RESPONSIVIDADE*/

@media (max-width: 800px){

    .cabecalho h1, .cabecalho h2{
        font-size: 1em;
    }
    .menu, .menu-itens{
        width:100vw;
    }

    #faixa h2{
        font: .3em;
    }
    .container, .abertura, 
    img.abertura, #faixa,
    .part-text{
        width: 100%;
    }
    .container{
        margin-top: 0;
        flex-direction: column;
        align-content: center;
    }
    .part-container{
        flex-direction: column;
    }

    .part-container:nth-child(1),
    .part-container:nth-child(3) {
        flex-direction: column-reverse;
    }

}