body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    margin:0;
}

.container {
    height: 150px;
    width: 100%;
    background-color: darkslategray;  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin: 0;

}

.card {
    height: 150px;
    width: 150px;
    display:flex;
    background-image: url('./imagem/SpaceBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border: 0;
    margin-left: 0;
    margin-right: auto;
    filter: grayscale(0.8);
    color:whitesmoke;
    cursor: pointer;
    transition: 0.3s;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    position: relative;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}


.card-wrapper::before {
    content:'';                 /*pesquisar sobre*/
    position:absolute;
    height: 100px;
    width: 100px;
    display: block;
    opacity: 0;
    transition: 0.3s;
    margin-top: auto;
    margin-bottom: auto;
}

.card-wrapper h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    transition: 0.3s;
}

.card-wrapper p {
    font-size: 0px;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 120px;
    width: 120px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 10px;
}